<a href="https://colab.research.google.com/github/roztekin1/BTE320-In-Class-Assignment/blob/main/InClassAssignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
pi=3.14
r=3
h=10

Area=(2*pi*r**2)+2*pi*r*h

print(Area)

244.92000000000002

In [ ]:
import random
play_the_game=input('Do you want to play?: ')
while play_the_game=='Yes':


  p1=input('Player 1:rock, paper, scissors: ')
  p2=random.choice(['rock', 'paper', 'scissors'])

  if p1==p2:
    print('Draw')

  elif p1=='rock' and p2=='scissors':
    print('Player One Wins')

  elif p1=='paper' and p2=='scissors':
    print('Player Two Wins')

  elif p1=='rock' and p2=='paper':
    print('Player TWo Wins')

  elif p1=='scissors' and p2=='rock':
    print('Player Two Wins')

  elif p1=='paper' and p2=='rock':
    print('Player One Wins')

  elif p1=='scissors' and p2=='paper':
    print('Player One Wins')
  play_the_game=input('Do you want to play?: ')

Do you want to play?: Yes
Player 1:rock, paper, scissors: rock
Draw
Do you want to play?: No

In [ ]:
n1=float(input('Enter First Number: '))
symbol=input('Enter Symbol: ')
n2=float(input('Enter Second Number: '))

if symbol=='+':
  print(n1+n2)
elif symbol=='-':
  print(n1-n2)
elif symbol=='*':
  print(n1*n2)
elif symbol=='/':
  print(n1/n2)
elif symbol=='**':
  print(n1**n2)

Enter First Number: 1
Enter Symbol: **
Enter Second Number: 2
1.0

In [ ]:
flat_rate=5
hourly_rate=2.5
i=1
while i < 9:
  print(i,5+2.5*i)
  i=i+1

1 7.5
2 10.0
3 12.5
4 15.0
5 17.5
6 20.0
7 22.5
8 25.0

In [ ]:
flat_rate=5
hourly_rate=2.5
i=1
while i < 9:
  charge=flat_rate+hourly_rate*i
  if charge <10:
    print(i,10.0)
  elif charge>20:
    print(i,20.0)
  else:
    print(i,charge)
  i=i+1

1 10.0
2 10.0
3 12.5
4 15.0
5 17.5
6 20.0
7 20.0
8 20.0

In [ ]:
print('ad','profit')

for i in range (0,201,25):
  attend=20+2*round(i**.5,0)
  revenue=(attend*10)
  ad=i
  profit=revenue-ad-200

  print(i,profit)

ad profit
0 0.0
25 75.0
50 90.0
75 105.0
100 100.0
125 95.0
150 90.0
175 85.0
200 80.0

In [ ]:
I=[]
item=int(input('Please Give a Value: '))
while item!=0:
  item=int(input('Please Give a Value: '))
  I.append(item)

Please Give a Value: 4
Please Give a Value: 5
Please Give a Value: 6
Please Give a Value: 0

In [ ]:
months={}

names=['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec']
numbers=[1,2,3,4,5,6,7,8,9,10,11,12]

for i in range(len(numbers)):
 months[numbers[i]] = names[i]

print(months)

{1: 'Jan', 2: 'Feb', 3: 'Mar', 4: 'Apr', 5: 'May', 6: 'Jun', 7: 'Jul', 8: 'Aug', 9: 'Sep', 10: 'Oct', 11: 'Nov', 12: 'Dec'}

In [ ]:
months[3]

'Mar'

In [ ]:

portion_down_payment = 0.25
r = 0.04

annual_salary= float(input('Enter your annual salary: '))
portion_saved= float(input('Enter the percent of your salary to save: '))
total_cost=float(input('Enter the cost of your dream home: '))
monthly_salary=annual_salary / 12
down_payment=total_cost*portion_down_payment
current_savings=0
months=0

while current_savings < down_payment:
    current_savings += current_savings * (r / 12)
    current_savings += monthly_salary * portion_saved
    months += 1

print(f"Number of months: {months}")

Enter your annual salary: 120000
Enter the percent of your salary to save: .1
Enter the cost of your dream home: 1000000
Number of months: 183

In [ ]:
portion_down_payment = 0.25
r = 0.04

annual_salary= float(input("Enter your annual salary: "))
portion_saved= float(input("Enter the percent of your salary to save: "))
total_cost=float(input("Enter the cost of your dream home: "))
semi_annual_raise=float(input('Enter your semi-annual raise percentage as a decimal: '))
monthly_salary=annual_salary / 12
down_payment=total_cost*portion_down_payment
current_savings=0
months=0

while current_savings < down_payment:
    current_savings += current_savings * (r / 12)
    current_savings += monthly_salary * portion_saved
    months += 1
    if months%6==0:
      annual_salary=annual_salary+annual_salary*semi_annual_raise
      monthly_salary= annual_salary/12

print(f"Number of months: {months}")

Enter your annual salary: 120000
Enter the percent of your salary to save: .05
Enter the cost of your dream home: 500000
Enter your semi-annual raise percentage as a decimal: .03
Number of months: 142

In [ ]:
def range_check(num,low,high):
  if num>=low and num<=high:
    return True
  else:
    return False

In [ ]:
print(range_check(2,1,3))

True

In [ ]:

def calcFee(hours):
  print(5+(2.5*hours))
hours=int(input('Enter Number of Hours Parked: '))
calcFee(hours)

Enter Number of Hours Parked: 4
15.0

In [ ]:
def calcFee(hours,decimals=2):
  fee=hours*2.5+5
  fee= round(fee,decimals)
  return fee
def displayFee(fee):
  print(fee)

hours=int(input('Enter Number of Hours Parked: '))
fee=calcFee(hours)
displayFee(fee)

Enter Number of Hours Parked: 5
17.5

In [ ]:

def reverse(s):
  if len(s)==1:
    return s
  else:
    return s[::-1]

reverse('hello')

'olleh'

In [ ]:
def wAvg(L,w):
  try:
    res=[]
    for i in range (len(L)):
      res.append(L[i]*w[i])
    return sum(res)/sum(w)
  except ZeroDivisionError:
    print('Divided by zero')
    return []
  except TypeError:
    print('Non-numerical objects found')
    return []
  except Exception as e:
    print('Unknown Error')
    return float('nan')
wAvg([1,2,3],[.2,.0,-.2])

Divided by zero

[]

In [8]:
class Student:
  def __init__(self,name,number):
    self.name= name
    self.number= number

In [10]:
s1= Student('James Bond', '007')
s2= Student('Clark Kent', '333')

s1.name

'James Bond'